body {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.header-container {
  display: flex;
}

h1 {
  font-family: "Fredericka the Great", cursive;
  font-size: 2rem;
  text-align: center;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  left: 10px;
  margin-right: 30px;
}

.todo-container {
  position: relative;
  max-width: 500px;
  margin: auto;
  background: #fff8f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.todo-form {
  display: flex;
 
}

.todo-form input {
  flex: 1;
  border: none;
  outline: none;
  background: #e0e7e1;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 50px;
  font-family: 'Patrick Hand', cursive;
}

.todo-form button {
  position: absolute;
  padding: 13px 45px;
  border: none;
  background: #436B5C;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  right: 20px;
}

.todo-form button:hover {
  background: #254036;
}

.todo-list {
  list-style: none;
  padding: 10px;
  font-family: "Pacifico", cursive;
}

.todo-list li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #717171;
}

.todo-list li.completed {
  text-decoration: line-through;
  color: #aaa;
}

.todo-text {
  flex-grow: 1;
  margin-right: 10px;
}

.edit-btn,
.delete-btn {
  padding: 5px 5px;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  width: 80px;
  text-align: center;
  margin: 5px;
}

.edit-btn {
  background: #BF9550;
}

.edit-btn:hover {
  background: #8b6831;
}

.delete-btn {
  background: #E25439;
}

.delete-btn:hover {
  background: #b03219;
}

.todo-counter {
  position: absolute;
  right: 30px;
  bottom: 20px;
  color: #E6B5A6;
  font-family: "Courier New", monospace;
}

.notification {
  background-color: #B7BF96;
  text-align: center;
  border: none;
  color: white;
  border-radius: 50px;
  width: 200px;
  margin-bottom: 20px;

}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  font-family: 'Patrick Hand', cursive;
}

.search-input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
}

.search-input:hover,
.search-input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search-input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search-input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search-button {
  border: none;
  background-color: #f4f2f2;
  margin-top: 0.1em;
}

.search-button:hover {
  cursor: pointer;
}

.search-icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}

/* Checkbox styles */
.checkbox-wrapper-12 {
  position: relative;
  padding-right: 10px;
}

.checkbox-wrapper-12 > svg {
  position: absolute;
  top: -130%;
  left: -170%;
  width: 110px;
  pointer-events: none;
}

.checkbox-wrapper-12 * {
  box-sizing: border-box;
}

.checkbox-wrapper-12 input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  margin: 0;
}

.checkbox-wrapper-12 input[type="checkbox"]:focus {
  outline: 0;
}

.checkbox-wrapper-12 .cbx {
  width: 24px;
  height: 24px;
}

.checkbox-wrapper-12 .cbx input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #bfbfc0;
  border-radius: 50%;
}

.checkbox-wrapper-12 .cbx label {
  width: 24px;
  height: 24px;
  background: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg {
  position: absolute;
  top: 5px;
  left: 4px;
  z-index: 1;
  pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg path {
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
  transition: stroke-dashoffset 0.3s ease;
  transition-delay: 0.2s;
}

.checkbox-wrapper-12 .cbx input:checked + label {
  animation: splash-12 0.6s ease forwards;
}

.checkbox-wrapper-12 .cbx input:checked + label + svg path {
  stroke-dashoffset: 0;
}

@keyframes splash-12 {
  40% {
    background: #557c56;
    box-shadow: 0 -18px 0 -8px #6c896d;
  }
  100% {
    background: #557c56;
    box-shadow: 0 -36px 0 -10px transparent;
  }
}
.cube-loader {
  margin-top: 39px;
  position: relative;
  width: 25px; 
  height: 25px; 
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube-loader .cube-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube-loader .cube-wrapper .cube-span {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(calc(90deg * var(--i))) translateZ(12.5px); 
}

.cube-top {
  position: absolute;
  width: 25px; 
  height: 25px; 
  transform: rotateX(90deg) translateZ(12.5px); 
  transform-style: preserve-3d;
}

.cube-top::before {
  content: "";
  position: absolute;
  width: 8px; 
  height: 8px; 
  transform: translateZ(-30px); 
  filter: blur(3px); 
  box-shadow: 0 0 3px #323232, 0 0 5px hsl(176.61, 42.28%, 40.7%) 19.6%,
    0 0 8px #323232, 0 0 10px hsl(176.61, 42.28%, 40.7%) 19.6%;
}
